/* Fonts */
/* Resort Sans Bold */
@font-face {
    font-family: 'Resort Sans';
    src: url('resort-sansbold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Zalorine Regular */
@font-face {
    font-family: 'Zalorine';
    src: url('zalorine.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Zalorine';
    font-weight: lighter;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
#ball,
.tt-main-menu,
.ph-caption-title-ghost,
.ph-caption-subtitle,
.scroll-down-circle,
.made-with-love,
.tt-ol-menu-toggle-btn-text,
.tt-m-menu-toggle-btn-text,
.tt-ol-menu-list,
.tt-heading,
.tt-btn,
.social-buttons,
.footer-social,
.tt-ps-nav-pagination,
.tt-pc-navigation,
.tt-cc-pagination,
.tt-phc-item::before,
.tt-phc-counter,
.pli-counter,
.ttgr-cat-trigger-wrap,
.ttgr-cat-list,
.ttgr-cat-classic-nav,
.portfolio-interactive-item,
.tt-copyright,
.project-info-list,
.tt-pn-link,
.tt-pn-subtitle,
.ph-share-ghost,
.tt-search-ghost,
.tt-pagination,
.tt-scrolling-text,
#blog-list.bli-compact .bli-info::before,
.blog-interactive-item::before {
    font-family: 'Resort Sans';
    font-weight: bold;
    font-feature-settings: "liga"0, "clig"0, "calt"0, "ss01"0, "ss02"0;
    font-variant-ligatures: none;
}

.font-z {
    font-family: 'Zalorine' !important;
    font-weight: lighter !important;
}

.font-r {
    font-family: 'Resort Sans' !important;
    font-weight: bold !important;
    font-feature-settings: "liga"0, "clig"0, "calt"0, "ss01"0, "ss02"0;
    font-variant-ligatures: none;
}

/* _______________________________________________________________________ S T A R T -- H E R E _______________________________________________________________________________ */

.max-width-50-per {
    max-width: 50% !important;
}

.d-none {
    display: none !important;
}

.text--xsm {
    font-size: calc(24px + 0.1vw) !important;
}

.text--sm {
    font-size: calc(32px + 0.1vw) !important;
}

.text--md {
    font-size: calc(40px + 0.1vw) !important;
}

.text--lg {
    font-size: 3.5rem !important;
}

.text--xl {
    font-size: 7rem;
}

.text--hero {
    font-size: 9rem;
}

@media (max-width: 767px) {
    .text--xsm {
        font-size: calc(24px + 0.1vw) !important;
    }

    .text--sm {
        font-size: calc(28px + 0.1vw) !important;
    }

    .text--md {
        font-size: calc(32px + 0.2vw) !important;
    }

    .text--lg {
        font-size: calc(36px + .5vw) !important;
    }

    .text--xl {
        font-size: calc(40px + 1vw) !important;
    }

    .text--hero {
        font-size: calc(42px + 1.2vw) !important;
    }
}

.text--uppercase {
    text-transform: uppercase !important;
}

.img-250px {
    width: 250px !important;
    object-fit: contain;
    object-position: center;
    padding: 1.5rem;
}

.img-200px {
    width: 200px !important;
    object-fit: contain;
    object-position: center;
    padding: 1.5rem;
}

.img-150px {
    width: 150px !important;
    object-fit: contain;
    object-position: center;
    padding: 1.25rem;
}

.img-100px {
    width: 100px !important;
    object-fit: contain;
    object-position: center;
    padding: 1rem;
}

.img-50px {
    width: 50px !important;
    object-fit: contain;
    object-position: center;
    padding: .5rem;
}

.text--center {
    text-align: center !important;
}

.text--start {
    text-align: start !important;
}

.left--0 {
    left: 0 !important;
}

.max-width-inherit {
    max-width: inherit !important;
}

.d-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important;
}

.justify-content-center {
    justify-content: center !important;
}

.align-items-center {
    align-items: center !important;
}

.align-self-start {
    align-self: flex-start !important;
}

.align-self-center {
    align-self: center !important;
}

.align-self-end {
    align-self: flex-end !important;
}

.tt-portfolio-slider-caption.psc-center .caption-box {
    padding: .5em !important;
    top: 70% !important;
}

.border {
    border: 25px;
    border-color: aqua;
}

.margin-top-25vh {
    margin-top: 25vh;
}

.px--1 {
    padding-left: .25rem;
    padding-right: .25rem;
}

.px--2 {
    padding-left: .5rem;
    padding-right: .5rem;
}

.px--3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.pl--1 {
    padding-left: .25rem;
}

.pl--2 {
    padding-left: .5rem;
}

.pl--3 {
    padding-left: 1rem;
}

.pb--0 {
    padding-bottom: 0px !important;
}

.mb--0 {
    margin-bottom: 0px !important;
}

.line-height-3_5 {
    line-height: 3.5rem !important;
}

.line-height-2_75 {
    line-height: 2.75rem !important;
}

.line-height-2_25 {
    line-height: 2.25rem !important;
}

.line-height-1_75 {
    line-height: 1.75rem !important;
}

.line-height-1_1 {
    line-height: 1rem !important;
}

.letter-spacing-sm {
    letter-spacing: .2rem !important;
}

#scrollTopBtn {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 9999;
    background-color: black;
    color: white;
    border-radius: 50%;
    border: 1px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    display: block;
    /* Hidden by default */
    transition: background-color 0.6s ease, color 0.3s ease, transform 0.3s ease;
}

#scrollTopBtn:hover {
    background-color: whitesmoke;
    color: black;
}

/* whatsapp btn */
#whatsappBtn {
    position: fixed;
    bottom: 24px;
    right: 84px;
    z-index: 999;
    width: 48px;
    height: 48px;
    /* background-color: #25d366; */
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 0.3s ease, transform 0.3s ease;
}

#whatsappBtn:hover {
    /* background-color: #1ebea5; */
    transform: scale(1.1);
}

#whatsappBtn img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    filter: brightness(1) invert(0);
    transition: filter 0.3s ease, transform 0.3s ease;
}

#whatsappBtn:hover img {
    filter: brightness(1) invert(1);
}

/* whatsapp btn end */